<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send email page</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/styles.css"/>
</head>

<body>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-lg-4 offset-lg-4" id="content">
                <h1>Form Send Email</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                        <div class="tag">Name recipient</div>
                        <input type="text" name="FullName" placeholder="Name.."> 
                        <div class="tag">Email destination</div>
                        <input type="text" name="Email" placeholder="example@gmail.com"> 
                        <div class="tag">Subject</div>
                        <input type="text" name="Subject" placeholder="Test send email"> 
                        <div class="tag">Content</div>
                        <textarea name="Content" cols="30" rows="10" placeholder="text somthing..."></textarea>
                        <input type="submit" class="btn btn-success d-flex justify-content-between" value="Submit">
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JavaScript -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>